*{
    font-family: "Noto Sans KR", "Source Sans Pro";
    margin: 0 auto;
    box-sizing: border-box;
}

.out_btn {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px;
    top: 73px;
    left: 200px;
    width: fit-content;
    height: 2.5rem;
    left: 0rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #B73A3A;
    border-radius: 5px;
    text-decoration: none;
}
.out_link{
    text-decoration-line: none;
    font-size: 15px;
    color: white;
    font-family: Roboto, 'Source Sans Pro';
}

.conversationDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat_wrap {
    border: 0px solid #999;
    width: 98%;
    padding: 5px;
    font-size: 13px;
    color: #000000;
}

.chat_body{
    border: #1E1E1E solid 1px;
    border-radius: 5px;
    margin: 10px 0;
    width: fit-content;
}
.message{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 350px;

}


.response_class {
    margin: 10px;
}


.massege_box {
    align-items: end;
    flex-direction: column;
    justify-content: end;
    display: flex;
    margin: 15px 5px;
}

/* 채팅창 .inner */
.chat_wrap .inner {
    background-color: #e6e6e6;
    margin: 10px 0 10px 10px;
    width: 350px;
    border-radius: 5px;
    padding: 10px 0 10px 10px;
    overflow-y: scroll;
    height: 400px
}

.chat_wrap .item {
    margin-top: 15px
}

.chat_wrap .item:first-child {
    margin-top: 0
}

.chat_wrap .item .box:before {
    content: "";
    position: absolute;
    left: 80px;
    top: 9px;
    border-top: 0px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 0px solid #fff;
}

/*일반 메시지*/
.chat_wrap .msg_sender_time {
    top: 2px;
    position: relative;
    bottom: 4px;
}

.chat_wrap .msg {
    top: 10px;
    bottom: 10px;
    left: 2px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 4px;
    display: inline-block;
    max-width: 60%;
}

/*내가 보낸 메시지*/
.chat_wrap .mymsg_sender_time {
    top: 2px;
    left: 100px;
    position: relative;
}

.chat_wrap .mymsg {
    left: -8px;
    top: 10px;
    bottom: 10px;
    margin: 0;
    position: relative;
    width: fit-content;
    max-width: 151px;
    background: #ffefc4;
    border-radius: 5px;
    padding: 4px;
    display: flex;
    justify-content: center;
    word-break: break-all;
}


/*애니메이션*/
.chat_wrap .item .box {
    transition: all .3s ease-out;
    margin: 0 0 0 20px;
    opacity: 0
}

.chat_wrap .item .mymsg .box {
    margin: 0 20px 0 0;
}

.chat_wrap .item .on .box {
    margin: 0;
    opacity: 1;
}

.message_text {
    border: 0;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    margin-right: 5px;
    box-sizing: border-box;
}

.message_send{
    width: 70px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color: #B73A3A;
    border: 0;
    font-size: 15px;
}
