* {
    box-sizing: border-box;
    font-family: Noto Sans KR, 'Source Sans Pro';
    margin: 0 auto;
    font-size: 15px;
}

span {
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    letter-spacing: 0.25px;
}

.createForm {
    box-sizing: border-box;
    padding: 1rem 2rem 1rem 2rem;
    width: 80rem;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    border-radius: 1rem;
    justify-content: center;
}

.createFormLogo {
    margin: 0rem 0.004rem 0.9rem 0.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}


.createFormLogoText {
    margin-right: 80rem;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.025rem;
    color: #1e1e1e;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    justify-content: flex-start;
}

.createFormLogoImg {
    top: -5px;
    right: 220px;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.createTeamName {
    display: block;
    height: 55px;
    margin-bottom: 1.1rem;
    box-sizing: border-box;
    padding: 0.8rem 2rem;
    width: 75rem;
    font-weight: 700;
    line-height: 1.6;
    border: none;
    letter-spacing: 0.025rem;
    color: #1e1e1e;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.teamCreateInputGroup {
    flex-direction: column;
    padding: 1rem;
    width: 75rem;
    background-color: white;
    display: flex;
    gap: 10px; /* Add spacing between group elements */
    border-radius: 10px;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    justify-content: flex-start;
}

.teamSingleLineInputGroup, .teamDoubleLineInputGroup {
    width: 59rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.teamTagLabel,
.teamIsOnlineLabel {
    width: 8.4rem;
    height: 3.4rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4475;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 0rem;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #505c68;
    border-radius: 0.5rem;
    flex-shrink: 0;
}
.teamTechLabel {
    width: 8.4rem;
    height: 6.8rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4475;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 0rem;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #505c68;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.teamTagButton,
.teamIsOnlineButton {
    width: 172px;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    flex-shrink: 0; /* Prevent buttons from shrinking */
    padding: 5px 10px;
    border: 1px solid #1E1E1E; /* Add border for a clear visual separation */
    border-radius: 5px;
    cursor: pointer;
}

.teamTechStackInputGroup{
    width: 100%;
    height: 6.8rem;
}
.teamTechStackInputWithSearchGroup{
    width: 100%;
    height: 2.4rem;
    margin-bottom: 5px;
    display: flex;
}

.teamTechStackInput {
    border: 1px solid #1E1E1E; /* Add border for a clear visual separation */
    margin-left: 0;
    padding: 0 10px;
    width: 720px;
    border-radius: 5px;
    height: 2.4rem;
    font-size: 15px;
    margin-bottom: 5px;
}

.teamTechStackInputSearch {
    display: flex;
    background: #B73A3A;
    align-items: center;
    border-radius: 5px;
    width: 7.4rem;
    height: 2.4rem;
    font-size: 20px;
    margin-left: 5px;
    justify-content: center;
    color: white;
}

.teamTechStackInputSearch:hover{
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

.teamTechStackLabelGroup {
    width: 100%;
    height: 6.8rem;
    display: flex;
    flex-direction: row;
}

.teamTechStackLabel {
    margin-left: 0;
    margin-right: 1rem;
    width: 5rem;
    height: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1e1e1e; /* Add border for a clear visual separation */
    border-radius: 5px;
    background-color: white;
}

.teamCreateTextarea {
    border: 1px solid #1E1E1E; /* Add border for a clear visual separation */
    width: 720px;
    margin-left: 0;
    height: 6.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.teamNumberInput {
    border: 1px solid;
    height: 3.4rem;
    width: 70px;
    text-align: center;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0.5rem;
    font-size: 20px;
}

.teamNumberInputLabel {
    font-size: 20px;
    margin-left:0;
    width: 720px;
    justify-content: center;
    padding-bottom: 5px;
}

.selected {
    background-color: #3f51b5; /* Add background color for selected buttons */
    color: white;
}

.teamRecruitCheckLabel{
    margin-left: 0;
    font-size: 20px;
    margin-right: 1rem;
}

.teamRecruitCheck {
    margin-left: 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0;
}

.recruitTitleInfo {
    margin: 0;
    display: none;
    width: 70rem;
    align-items: center;
    gap: 10px;
}

.recruitTitleInput {
    margin-left: 0;
    width: 720px;
    padding: 5px 10px;
    height: 6.8rem;
    border: 1px solid;
    border-radius: 5px;
    font-size: 15px;
}

.recruitDetailsInfo{
    margin: 0;
    display: none;
    width: 70rem;
    align-items: center;
    gap: 10px; /* Add spacing between items */
}

.singUpButton{
    width: 8.4rem;
    height: 3.4rem;
    align-items: center;
    display: flex;
    background-color: #B73A3A;
    font-size: 20px;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 5px;
    border: 0;
    transition: box-shadow 0.3s;
    color: white;
}

.singUpButton:hover{
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

.slide-in-top {
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}




