html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: 144rem;
}

.item--DHT {
    box-sizing: border-box;
    padding-bottom: 2.5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}


.item--DHT .auto-group-rt5f-Hgd {
    margin: 0 8.9rem;
    box-sizing: border-box;
    padding: 1.6rem 1.8rem 2.4rem 1.9rem;
    width: calc(100% - 17.8rem);
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    border-radius: 1rem;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .group-254-C2u {
    margin: 0rem 100.2rem 1.6rem 0rem;
    width: calc(100% - 100.2rem);
    height: 3.9rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .group-254-C2u .declare-list-WJV {
    margin: 0rem 1.6rem 0.1rem 0rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.025rem;
    color: #1e1e1e;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .group-254-C2u .group-213-jww {
    width: 9.8rem;
    height: 100%;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .group-254-C2u .group-213-jww .group-249-6nV {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4475;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #b63939;
    border-radius: 1rem;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w {
    box-sizing: border-box;
    padding: 2.3rem 2.5rem 41.95rem 2.2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .line-86-G4h {
    margin-bottom: 0.65rem;
    width: 100%;
    height: 0.05rem;
    background-color: #1e1e1e;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-250-Cyw {
    margin: 0rem 6.8rem 0.7rem 6.6rem;
    width: calc(100% - 13.4rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-250-Cyw .item--LqF {
    margin: 0rem 30.4rem 0.1rem 0rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-250-Cyw .item--Rbo {
    margin-right: 28.4rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-250-Cyw .item--9Gu {
    margin-right: 11.5rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-250-Cyw .item--THb {
    margin-right: 8.2rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-250-Cyw .item--QCq {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .line-79-Kah {
    margin-bottom: 0.45rem;
    width: 100%;
    height: 0.05rem;
    background-color: #1e1e1e;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-251-3mb {
    margin: 0rem 6.2rem 0.4rem 4.9rem;
    box-sizing: border-box;
    padding-right: 1.2rem;
    width: calc(100% - 11.1rem);
    height: 2.9rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-251-3mb .auto-group-6pd7-LVo {
    box-sizing: border-box;
    padding: 0.2rem 7.1rem 0.2rem 0rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-251-3mb .auto-group-6pd7-LVo .item-230817-gJm {
    margin-right: 9.5rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-251-3mb .auto-group-6pd7-LVo .oo--DpV {
    margin-right: 5.5rem;
    overflow: hidden;
    width: 43.5rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-251-3mb .auto-group-6pd7-LVo .item-2023-08-02-kpR {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.flex{
    display: flex;
    
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-251-3mb .group-262-euo {
    margin-right: 1.1rem;
    width: 5.6rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4475;
    color: 424B5A;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #CCCCCC;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-251-3mb .group-264-euo {
    margin-right: 8rem;
    width: 5.6rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4475;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #b63939;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .group-251-3mb .item--VvR {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--DHT .auto-group-rt5f-Hgd .auto-group-ebq3-m7w .line-80-dmj {
    margin-bottom: 0.5rem;
    width: 100%;
    height: 0.05rem;
    background-color: #1e1e1e;
    flex-shrink: 0;
}






.item--tPs .auto-group-oydx-bhb {
    margin-left: 7.8rem;
    box-sizing: border-box;
    padding: 1.6rem 0.3rem 1.5rem 0.3rem;
    width: 56.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    border-radius: 1rem;
    flex-shrink: 0;
}

.item--tPs .auto-group-oydx-bhb .auto-group-wdus-V2H {
    margin: 0rem 2.405rem 0.4rem 1.7rem;
    width: calc(100% - 4.1045rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.item--tPs .auto-group-oydx-bhb .auto-group-wdus-V2H .declare-AeD {
    margin-right: 43.5045rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.025rem;
    color: #1e1e1e;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--tPs .auto-group-oydx-bhb .auto-group-wdus-V2H .close-Srd {
    margin-bottom: 0.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.item--tPs .auto-group-oydx-bhb .singupbutton-Y8y {
    margin: 0rem 1.7rem 1.7rem 1.7rem;
    box-sizing: border-box;
    padding: 0.8rem 2rem;
    width: calc(100% - 3.4rem);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.item--tPs .auto-group-oydx-bhb .type-m1j {
    margin: 0rem 48.3rem 0.3rem 0rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.025rem;
    color: #1e1e1e;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item--tPs .auto-group-oydx-bhb .auto-group-tkjb-t6M {
    display: flex;
    margin: 0rem 11.6rem 1rem 0rem;
    width: 44.6rem;
    height: 3.6rem;
    position: relative;
    flex-shrink: 0;
}

.item--tPs .auto-group-oydx-bhb .auto-group-tkjb-t6M .mat-btn-mvq {
    width: 8.1rem;
    height: 3.6rem;
    margin-left: 1.8rem;
    margin-right: 0rem;
    background-color: #cccccc;
    border-radius: 0.4rem;
}

.item--tPs .auto-group-oydx-bhb .auto-group-tkjb-t6M .mat-btn-mvq .content-7E1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.5714285714;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    color: #212121;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
}



.item--tPs .auto-group-oydx-bhb .auto-group-jykm-4iu {
    margin: 0rem 1.7rem 1.8rem 1.7rem;
    box-sizing: border-box;
    padding: 0.9rem 2rem;
    width: calc(100% - 3.4rem);
    height: 24.8rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.025rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
}

.item--tPs .auto-group-oydx-bhb .group-249-KPw {
    margin: 0 23.2rem;
    width: calc(100% - 46.4rem);
    height: 3.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4475;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #b63939;
    border-radius: 1rem;
    flex-shrink: 0;
}