
.item--cUZ {
    display: none;
    position: absolute;
    top: 250px;
    width: 450px;
    height: 450px;
    left: 735px;
    margin: 0 auto;
    border: solid 0.05rem #000000;;
    box-sizing: border-box;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.item--cUZ .login-page-7AR {
    width: 16.3rem;
    height: 4.1rem;
    position: relative;
    left: 0px;
    top: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #1e1e1e;
    font-family: Noto Sans, 'Source Sans Pro';
    white-space: nowrap;
}

.item--cUZ .idinputcomponent-9mK {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.item--cUZ .idinputcomponent-9mK .idinput-gmF {
    width: 300px;
    height: 40px;
    position: relative;
    top: 70px;
    padding-left: 10px;
    border: solid 0.05rem #471d1d;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 15px;
}

.item--cUZ .idinputcomponent-9mK .id-oay {
    width: 1.5rem;
    height: 2.2rem;
    position: absolute;
    left: 2.1772rem;
    top: 1.0571rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4475;
    color: #1e1e1e;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
}

.item--cUZ .line {
    width: 350px;
    height: 0.05rem;
    position: relative;
    margin: 0 auto;
    top: 2.2rem;
    background-color: #000000;
}

.item--cUZ .item--W81 {
    height: 1.6rem;
    position: relative;
    left: 5.7rem;
    top: 75px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    color: #b63939;
    font-family: Noto Serif HK, 'Source Sans Pro';
    white-space: nowrap;
}

.item--cUZ .image-9-CWd {
    height: 3.2rem;
    position: relative;
    display: flex;
    margin: 0 auto;
    top: 30px;
    background-color: rgba(148, 148, 148, 0.1000000015);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/image-9-bg-mQD.png');
    border-radius: 0.5rem;
}

.item--cUZ .auto-group-qaqf-WGR {
    width: 22.9rem;
    height: 4.4rem;
    position: relative;
    margin: 0 auto;
    left: 80px;
    top: 5.1rem;
    align-items: center;
}

.item--cUZ .auto-group-qaqf-WGR .singupbutton-SA5 {
    width: 104px;
    height: 44px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #b63939;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.item--cUZ .auto-group-qaqf-WGR .singupbutton-Jxy {
        width: 104px;
        height: 44px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 10px;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #979797;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
}

.item--cUZ .close-PDj {
    position: absolute;
    left: 400px;
    top: 20px;
    object-fit: contain;
    vertical-align: top;
}
