html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: 144rem;
}

.item--MrH {
    box-sizing: border-box;
    padding: 8.6rem 8.7rem 5.9rem 8.7rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.memberlist-qFf {
    margin: 0rem 61.9rem 1.4rem 47.6rem;
    box-sizing: border-box;
    padding: 1.2rem 0.8rem 0.7rem 0.8rem;
    width: calc(100% - 109.5rem);
    height: 15rem;
    border: solid 0.05rem #000000;
    background-color: #e6e6e6;
    border-radius: 0.8rem;
    flex-shrink: 0;
}

.main-XeH {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.auto-group-wgzp-H7f {
    box-sizing: border-box;
    padding: 0rem 1.5rem 1rem 1.5rem;
    width: 100%;
    row-gap: 1.2rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.member1-yWH {
    margin-right: 6.9rem;
    width: calc(100% - 6.9rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.ellipse-7-H1B {
    margin-right: 0.7rem;
    width: 2.1rem;
    height: 2.1rem;
    background-color: #78ae65;
    border-radius: 1.05rem;
    flex-shrink: 0;
}

.item--1C5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.member2-vK3 {
    margin-right: 6.9rem;
    width: calc(100% - 6.9rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.ellipse-7-FcD {
    margin-right: 0.7rem;
    width: 2.1rem;
    height: 2.1rem;
    background-color: #78ae65;
    border-radius: 1.05rem;
    flex-shrink: 0;
}

.item--zph {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.member3-jXP {
    margin-right: 6.9rem;
    width: calc(100% - 6.9rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.ellipse-7-UE5 {
    margin-right: 0.7rem;
    width: 2.1rem;
    height: 2.1rem;
    background-color: #827b7b;
    border-radius: 1.05rem;
    flex-shrink: 0;
}

.item--ziD {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.line-uaH {
    margin-bottom: 1.1rem;
    width: 100%;
    height: 0.4rem;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
}

.memberinviting-enm {
    position: relative;
    top: -0.3rem;
    margin: 0rem 4.5rem 0rem 0rem;
    width: calc(100% - 6.5286rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.close-PVT {
    margin: 0rem 0.929rem 0.3rem 0rem;
    width: 20px;
    height: 20px;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.item--iGq {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.auto-group-ujpr-aK3 {
    margin-right: 38rem;
    width: calc(100% - 38rem);
    height: 61.6rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.meetingroom-62V {
    margin-right: 3.3rem;
    box-sizing: border-box;
    padding: 1.3rem;
    width: 41rem;
    height: 30.3rem;
    border: solid 0.05rem #000000;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #e6e6e6;
    border-radius: 1rem;
    flex-shrink: 0;
}

.main-pjB {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title-aiM {
    margin: 0rem 2rem 0.9rem 0.9rem;
    width: calc(100% - 1.6045rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.meeting-room-7yB {
    margin-right: 21.8045rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.025rem;
    color: #1e1e1e;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.close-2qF {
    margin-bottom: 0.2rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.lists-a65 {
    margin-bottom: 1.3rem;
    box-sizing: border-box;
    padding: 0.6rem 0.9rem;
    width: 100%;
    height: 18.4rem;
    background-color: #ffffff;
    border-radius: 1rem;
    flex-shrink: 0;
}

.group-299-t6m {
    width: 100%;
    height: 16.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.group-290-d4M {
    margin: 0rem 2.9rem 0.6rem 4.3rem;
    width: calc(100% - 7.2rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.name-XvR {
    margin-right: 8.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5714285714;
    letter-spacing: 0.01rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.date-ek9 {
    margin-right: 8.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5714285714;
    letter-spacing: 0.01rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.member-xVw {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5714285714;
    letter-spacing: 0.01rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.group-292-J41 {
    margin-bottom: 0.7rem;
    box-sizing: border-box;
    padding: 0.3rem 4.3rem 0.3rem 3.3rem;
    width: 100%;
    height: 2.8rem;
    background-color: #505c68;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.group-291-Qcq {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.project-a-71T {
    margin-right: 3.7rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5714285714;
    letter-spacing: 0.01rem;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item-23-08-0108-31-Ebs {
    margin-right: 6.3rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5714285714;
    letter-spacing: 0.01rem;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.item-3-3-wWH {
    margin-top: 0.1rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

/* .group-294-Shw {
  margin-bottom: 0.7rem;
  box-sizing: border-box;
  padding: 0.3rem 4.2rem 0.3rem 3.3rem;
  width: 100%;
  height: 2.8rem;
  background-color: #505c68;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.group-294-Shw .group-293-Nbb {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.group-294-Shw .group-293-Nbb .project-b-8qf {
  margin-right: 3.7rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-294-Shw .group-293-Nbb .item-23-08-0100-00-Eth {
  margin-right: 6.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-294-Shw .group-293-Nbb .item-0-3-8UH {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-296-EGR {
  margin-bottom: 0.7rem;
  box-sizing: border-box;
  padding: 0.3rem 4.2rem 0.3rem 3.3rem;
  width: 100%;
  height: 2.8rem;
  background-color: #505c68;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.group-296-EGR .group-295-YH7 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.group-296-EGR .group-295-YH7 .project-c-75K {
  margin-right: 3.7rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-296-EGR .group-295-YH7 .item-23-08-0100-00-qn1 {
  margin-right: 6.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-296-EGR .group-295-YH7 .item-0-3-MkM {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
} */
/* .group-298-HP7 {
  box-sizing: border-box;
  padding: 0.3rem 4.2rem 0.3rem 3.3rem;
  width: 100%;
  height: 2.8rem;
  background-color: #505c68;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.group-298-HP7 .group-297-CW5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.group-298-HP7 .group-297-CW5 .project-d-m3P {
  margin-right: 3.7rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-298-HP7 .group-297-CW5 .item-23-08-0100-00-UTb {
  margin-right: 6.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-298-HP7 .group-297-CW5 .item-0-3-Wob {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
} */
.buttons-p3b {
    margin: 0rem 8.7rem 0rem 8.6rem;
    width: calc(100% - 17.3rem);
    height: 3.9rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    flex-shrink: 0;
}

.buttons-p3b .making-vcR {
    margin-right: 1.5rem;
    width: 9.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4475;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #b63939;
    border-radius: 1rem;
    flex-shrink: 0;
}

.buttons-p3b .fix-wXX {
    width: 9.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4475;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #979797;
    border-radius: 1rem;
    flex-shrink: 0;
}

.chating-Wyw {
    width: 44.3rem;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}

.chating-Wyw .rectangle-329-sZb {
    width: 41rem;
    height: 61.6rem;
    position: absolute;
    left: 3.3rem;
    top: 0;
    border: solid 0.05rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #e6e6e6;
    border-radius: 1rem;
}

.chating-Wyw .sendsection-wZT {
    box-sizing: border-box;
    padding: 7.775rem 1.875rem 1.875rem 1.875rem;
    width: 41rem;
    height: 11.9rem;
    position: absolute;
    left: 3.3rem;
    top: 49.7rem;
    border: solid 0.05rem #000000;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 0 0 1rem 1rem;
}

.chating-Wyw .sendsection-wZT .imoticon-eim {
    width: 6.75rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.chating-Wyw .sendsection-wZT .imoticon-eim .happy-face-btu {
    margin-right: 2.25rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.chating-Wyw .sendsection-wZT .imoticon-eim .attach-M7P {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.chating-Wyw .main-1xd {
    width: 43.4rem;
    height: 24.05rem;
    position: absolute;
    left: 0;
    top: 2rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.chating-Wyw .main-1xd .title-x7B {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    display: flex;
}

.chating-Wyw .main-1xd .title-x7B .group-301-5xV {
    margin-right: 5.1rem;
    width: 14.4rem;
    height: 100%;
    position: relative;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.chating-Wyw .main-1xd .title-x7B .group-301-5xV .rectangle-411-EqP {
    width: 5.3rem;
    height: 3.7rem;
    position: absolute;
    left: 5.4rem;
    top: 0;
    background-color: #cccccc;
    border-radius: 0.5rem;
}

.chating-Wyw .main-1xd .title-x7B .group-301-5xV .group-300-Ayw {
    width: 14.4rem;
    height: 2.4rem;
    position: absolute;
    left: 0;
    top: 0.7rem;
}

.chating-Wyw .main-1xd .title-x7B .group-301-5xV .group-300-Ayw .person-dMj {
    width: 14.4rem;
    height: 2.4rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1;
    color: #1e1e1e;
    font-family: Material Icons, 'Source Sans Pro';
    white-space: nowrap;
}

.chating-Wyw .main-1xd .title-x7B .group-301-5xV .group-300-Ayw .item-3-HSH {
    width: 1.2rem;
    height: 2.2rem;
    position: absolute;
    left: 8.7rem;
    top: 0.1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.01rem;
    color: #1e1e1e;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
}

.chating-Wyw .main-1xd .title-x7B .project-a-BGm {
    margin: 0.3rem 5em 0rem 0rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.025rem;
    color: #1e1e1e;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.chating-Wyw .main-1xd .title-x7B .close-fxd {
    margin-top: 0.0045rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}

.chating-Wyw .main-1xd .rectangle-348-1Fo {
    margin-bottom: 3.5rem;
    width: 39.4rem;
    height: 0.4rem;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
}

.chating-Wyw .main-1xd .messege-jxV {
    margin-right: 0.6rem;
    width: 37.4rem;
    flex-shrink: 0;
}
/* 
.chating-Wyw .main-1xd .messege-jxV .group-305-Hz1 {
    margin-bottom: 2.2rem;
    display: flex;
    align-items: flex-end;
} */
/* 
.chating-Wyw .main-1xd .messege-jxV .group-305-Hz1 .mat-avatar-CbB {
    margin: 0rem 0.9rem 0.3rem 0rem;
    width: 3.4rem;
    height: 3.4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    font-family: Material Icons, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #c48b8b;
    border-radius: 5rem;
    flex-shrink: 0;
}

.chating-Wyw .main-1xd .messege-jxV .group-305-Hz1 .group-303-fzZ {
    margin: 0rem 0.6rem 0.3rem 0rem;
    width: 8.8rem;
    height: 3.4rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.chating-Wyw .main-1xd .messege-jxV .group-305-Hz1 .item-00-00-LL1 {
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
} */

.chating-Wyw .main-1xd .messege-jxV .group-306-rZF {
    margin-bottom: 2.3rem;
    display: flex;
    align-items: flex-end;
}

.chating-Wyw .main-1xd .messege-jxV .group-306-rZF .mat-avatar-Pp5 {
    margin: 0rem 0.9rem 0.2rem 0rem;
    width: 3.4rem;
    height: 3.4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    font-family: Material Icons, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #8bc0c4;
    border-radius: 5rem;
    flex-shrink: 0;
}

.chating-Wyw .main-1xd .messege-jxV .group-306-rZF .group-304-E41 {
    position: relative;
    margin: 0rem 0.6rem 0.2rem 0rem;
    box-sizing: border-box;
    padding: 0.8rem 0.7rem 0.7rem 0.7rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    border: solid 0.1rem #000000;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: initial;
}

.chating-Wyw .main-1xd .messege-jxV .group-306-rZF .item-00-00-31T {
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.chating-Wyw .main-1xd .messege-jxV .group-308-Tay {
    margin-left: 21.1rem;
    width: calc(100% - 21.1rem);
    display: flex;
    align-items: flex-end;
    border-radius: 0.5rem;
}

.chating-Wyw .main-1xd .messege-jxV .group-308-Tay .item-00-00-oeq {
    margin-right: 0.8rem;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.chating-Wyw .main-1xd .messege-jxV .group-308-Tay .group-307-Xqj {
    margin-bottom: 0.05rem;
    width: 10.8rem;
    height: 3.4rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #1e1e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f4e23a;
    border-radius: 0.5rem;
    flex-shrink: 0;
}