.group-421-cgR {
  visibility: hidden;
  width: 380px;
  height: 238px;
  position: relative;
  top: 28px;
  left: 433px;
  box-sizing: border-box;
  padding: 10px;
  border: solid 0.05rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.group-419-aW5 {
  position: relative;
  left: -10px;
  width: 378px;
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  border-radius: 10rem;
  flex-shrink: 0;
}

.item--wLd {
  margin-bottom: 0.7rem;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.group-416-fnR {
  margin-left: 0.5rem;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  flex-shrink: 0;
}

.group-411-nMF {
  width: 75px;
  height: 100%;
  position: relative;
  border-radius: 10rem;
  flex-shrink: 0;
}

.mat-avatar-X3w {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: #cccccc;
  border-radius: 10rem;
}

.mat-avatar-0{
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: #4F342D;
  border-radius: 10rem;
}

.mat-avatar-1 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: #616E7A;
  border-radius: 10rem;
}

.mat-avatar-2 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: #AC7E46;
  border-radius: 10rem;
}

.mat-avatar-3 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: #218E77;
  border-radius: 10rem;
}

.mat-avatar-4 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: #5356A0;
  border-radius: 10rem;
}


.item-21315 {
  width: 4.5rem;
  height: 1.7rem;
  position: relative;
  top: 22px;
  left: -7px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2125;
  color: #FFFFFF;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.item-1000-2mP {
  width: 4.5rem;
  height: 1.7rem;
  position: relative;
  top: 22px;
  left: -5px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}