html {
    font-size: 62.5%;
}

* {
    margin: 0 auto;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: 144rem;

    .item--XW1 {
        width: 41.5rem;
        height: 67.5rem;
        position: absolute;
        left: 51.6rem;
        top: 10.2rem;
        border: solid 0.05rem #000000;
        box-sizing: border-box;
        background-color: #e6e6e6;
        border-radius: 1rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }

    .close-Uem {
        width: 1.591rem;
        height: 1.591rem;
        position: absolute;
        left: 37.9045rem;
        top: 2.0045rem;
        object-fit: contain;
        vertical-align: top;
    }

    .close-PDj {
        position: relative;
        right: -19rem;
        top: -8rem;
    }

    .image-9-KdT {
        width: 5.8rem;
        height: 5.2rem;
        position: relative;
        top: 4rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
    }

    .image-9-CWd {
        width: 5.8rem;
        height: 5.2rem;
    }

    .sign-up-page-QZo {
        position: relative;
        margin-top: 2rem;
        height: 4.1rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        line-height: 10rem;
        color: #1e1e1e;
        font-family: Noto Sans, 'Source Sans Pro';
        white-space: nowrap;
    }


    .line-12-cLR {
        width: 37rem;
        height: 0.1rem;
        position: relative;
        top: 5rem;
        background-color: #000000;
    }

    .flex {
        display: flex;
        position: relative;
        top: 7rem;
        flex-direction: column;
        align-items: center;
    }

    .nameinputcomponent-M37 {
        width: 33.9rem;
        height: 4.1rem;
        border-radius: 1rem;
        margin-bottom: 2.5rem;
    }

    .idinput-HBf {
        width: 33.9rem;
        height: 4.1rem;
        border: solid 0.05rem #471d1d;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 1rem;
    }

    .id-PkV {
        position: relative;
        top: calc(20%);
        left: calc(5%);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.4475;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
    }

    .checkbutton-PTf {
        width: 6.1rem;
        height: 2.5rem;
        position: relative;
        left: 12rem;
        top: -1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4475;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #6065d8;
        border-radius: 0.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }

    .item--QmP {
        position: relative;
        top: calc(5%);
        left: calc(5%);
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.2;
        color: #b63939;
        font-family: Noto Serif HK, 'Source Sans Pro';
    }

    .singupbutton-Quo {
        width: 14.4rem;
        height: 4.4rem;
        position: relative;
        top: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4475;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #b63939;
        border-radius: 1rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
}