*{
    box-sizing: border-box;
    margin: 0 auto;
    color: #1E1E1E;
    font-family: Roboto, 'Source Sans Pro';
}

.Team {
    margin: 8px auto;
    width: 80vw;
    height: fit-content;
    padding-bottom: 1rem;
    background: #505D68;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.Team_text{
    margin: 0 0 0 20px;
    padding-top: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8700000048);
}

.Tema_box{
    margin: 10px 20px;
    background: #E5E5E5;
    border-radius: 10px;
}

.Team_box_detail {
    position: relative;
    top: 15px;
    right: 5px;
    display: flex;
    justify-content: right;
}

.btns{
    position: relative;
    right: 20px;
    top: 25px;
    margin: 5px;
}

.btn_blue{
    width: 120px;
    height: 50px;
    color: white;
    background-color: #3f51b5;
    font-family: Noto Sans KR, 'Source Sans Pro';
    font-size: 16px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    margin: 0 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_red{
    width: 90px;
    height: 50px;
    color: white;
    background-color: #B73A3A;
    font-family: Noto Sans KR, 'Source Sans Pro';
    font-size: 16px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    margin: 0 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_basic{
    width: 90px;
    height: 50px;
    color: white;
    background-color: #979797;
    font-family: Noto Sans KR, 'Source Sans Pro';
    font-size: 16px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    margin: 0 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts{
    position: relative;
    top: -20px;
    display: flex;
    margin-left: 20px;
}

.text_title{
    font-family: Roboto, 'Source Sans Pro';
    font-weight: 700;
    font-size: 20px;
    color: #1E1E1E;
    text-align: left;
    width: 200px;
    margin: 10px;
}
.text_sub{
    font-family: Noto Sans KR, 'Source Sans Pro';
    font-weight: 500;
    font-size: 20px;
    width: 200px;
    text-align: left;
    margin: 10px;


}

.neon-red-button {
    transition: box-shadow 0.3s;
}

.neon-red-button:hover {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

.neon-gray-button {
    transition: box-shadow 0.3s;
}

.neon-gray-button:hover {
    box-shadow: 0 0 10px #979797;
}

.neon-soda-button {
    transition: box-shadow 0.3s; /* 네온 효과 변경 애니메이션 */
}

.neon-soda-button:hover {
    box-shadow: 0 0 10px #3f51b5;
}
