<html>
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
    <link rel="stylesheet" th:href="@{../../css/chat-room.css}" href="../../static/css/chat-room.css">
</head>
<body onLoad="connect()">
<p>
<h3 id="room-name"></h3>

<!-- 채팅창 외부 컨테이너-->
<div id="conversationDiv" class="chat_wrap">
    <div class="out_btn">
        <span class="usernames" id="username" th:text="${username}"></span>
        <a class="out_link" href="/teamlist">채팅 나가기</a>
        <p></p>
    </div>


    <div class="flexing">
        <!-- 실시간 참가자 목록 -->
        <div id="participants-list">
            <h4 class="talking_member">현재 대화 멤버</h4>
            <ul class="chat_list" id="participants"></ul>
        </div>
        <div class="chat_body">
            <!-- 채팅 내용 박스 -->
            <div class="inner">
                <!--받은 응답을 표시하는 부분-->
                <p id="response"></p>
            </div>

            <!-- 메시지 입력/전송 양식-->
            <form class="message" id="message-form">
                <input class="message_text" type="text" id="message" placeholder="메시지를 입력하세요."/>
                <button class="message_send" type="submit">Send</button>
            </form>

        </div>

    </div>


</div>

<!--<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>-->
<script src="/js/stomp.js"></script>
<script type="text/javascript">
    let stompClient;
    const pathname = window.location.pathname;
    const roomId = parseInt(pathname.split("/")[2]);    // teamId로 roomId를 생성했음
    const username = "[[${ username }]]";

    //participants 추가
    function addParticipants(participantname) {
        const participantsList = document.getElementById('participants');
        const listItem = document.createElement('li');
        listItem.textContent = participantname;
        participantsList.appendChild(listItem);
    }

    function connect() {
        const socket = new WebSocket('ws://localhost:8080/chatting');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe(`/topic/${roomId}`, function (message) {
                const jsonMessage = JSON.parse(message.body);
                if (Array.isArray(jsonMessage)) initialMessages(jsonMessage)
                else receiveMessage(jsonMessage);
            });

        }, function (error) {
            console.error('WebSocket 연결 오류: ' + error);
        });
        addParticipants(username);
    }

    function initialMessages(messageList) {
        for (const message of messageList)
            receiveMessage(message)
    }

    function receiveMessage(messageOutput) {
        const response = document.getElementById('response');
        const div = document.createElement('div');

        const senderAndTimeSpan = document.createElement('span');
        const senderAndTimeText = `[ ${messageOutput.sender} ]  ${messageOutput.time}`;
        senderAndTimeSpan.appendChild(document.createTextNode(senderAndTimeText));
        if (messageOutput.sender === username) {
            senderAndTimeSpan.classList.add('mymsg_sender_time');
        } else {
            senderAndTimeSpan.classList.add('msg_sender_time');
        }
        div.appendChild(senderAndTimeSpan);
        div.classList.add('massege_box');

        const messageSpan = document.createElement('span');
        if (messageOutput.sender === username) {
            messageSpan.classList.add('mymsg');
        } else {
            messageSpan.classList.add('msg');
        }
        messageSpan.appendChild(document.createTextNode(messageOutput.message));
        div.appendChild(messageSpan);

        response.appendChild(div);
    }


    document.getElementById("message-form").addEventListener("submit", (event) => {
        event.preventDefault()

        const messageInput = document.getElementById('message');
        const message = messageInput.value.trim();
        if (message) {
            stompClient.send("/app/chat",
                {
                    "Authorization": "Bearer JWT"
                },
                JSON.stringify({
                    'roomId': roomId,
                    'sender': username,
                    'message': message
                })
            );
            messageInput.value = null;
        }
    });
</script>
</body>
</html>