<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <!--<link rel="stylesheet" th:href="@{../css/index.css}" href="../../static/css/index.css"> -->
    <link rel="stylesheet" th:href="@{../css/create.css}" href="../../static/css/create.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400">
</head>

<body>
<div class="main">
    <div class="top">
        <div class="nav">
            <div class="nav_logo">
                <img class='nav_logo_img' src="../../static/assets/index/logo.png" th:src="@{/assets/index/logo.png}" alt="로고" />
                <span class='nav_logo_text'>like lion</span></Link>
            </div>
            <div class="nav_search">
                <img class="nav_search_img" src="../../static/assets/index/search.svg" th:src="@{/assets/index/search.svg}" alt="#" />
                <input type="text" class="nav_search_input" placeholder="Search" />
            </div>
            <div class="nav_btn">
                <Link to="/Alarm" class='router_link'>
                <button class='nav_btn_list'>
                    <img src="../../static/assets/index/bell.svg" th:src="@{/assets/index/bell.svg}" alt="알람" />
                </button>
                </Link>
                <button class='nav_btn_list'>
                    <img src="../../static/assets/index/star.svg" th:src="@{/assets/index/star.svg}" alt="즐겨찾기" />
                </button>
                <button class='nav_btn_list'>
                    <img src="../../static/assets/index/mypage.svg" th:src="@{/assets/index/mypage.svg}" alt="마이페이지" />
                </button>
            </div>
        </div>
    </div>
    <div class="group-73-HfF">
        <div class="auto-group-y3v9-Nwb">
            <div class="new-create-hU5">New create </div>
            <img class="close-cL9" src="../assets/create/close.svg" alt="#">
        </div>
        <div class="singupbutton-jvZ">Title : </div>
        <div class="auto-group-mbu3-bC5">
            <div class="auto-group-7skv-fRT">
                <div class="auto-group-z6fs-DSy">Type</div>
                <div class="auto-group-8drh-tZ7">프로젝트</div>
                <div class="auto-group-8drh-tZ7">스터디</div>
                <div class="auto-group-8drh-tZ7">취준</div>
                <div class="auto-group-8drh-tZ7">기타</div>
            </div>

            <div class="auto-group-fm45-J6V">
                <div class="auto-group-d6xb-3Jy">When</div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-mpfb-bUD">
                        <div class="auto-group-w4vd-jaR">월</div>
                        <div class="auto-group-w4vd-jaR">화</div>
                        <div class="auto-group-w4vd-jaR">수</div>
                        <div class="auto-group-w4vd-jaR">목</div>
                        <div class="auto-group-w4vd-jaR">금</div>
                        <div class="auto-group-w4vd-jaR">토</div>
                        <div class="auto-group-w4vd-jaR">일</div>
                    </div>
                    <div>
                        <div class="auto-group-nkpy-eUR">19 : 00 ~ 20 : 00</div>
                    </div>
                </div>
            </div>

            <div class="auto-group-7skv-fRT">
                <div class="auto-group-z6fs-DSy">Where</div>
                <div class="auto-group-8drh-tZ7">온라인</div>
                <div class="auto-group-8drh-tZ7">오프라인</div>
            </div>

            <!-- <div class="auto-group-7skv-fRT">
                <div class="auto-group-z6fs-DSy">What</div>
                <div class="auto-group-8drh-tZ7">기획</div>
                <div class="auto-group-8drh-tZ7">디자인</div>
                <div class="auto-group-8drh-tZ7">프론트</div>
                <div class="auto-group-8drh-tZ7">백엔드</div>
            </div> -->
            <div class="auto-group-fm45-J6V">
                <div class="auto-group-d6xb-3Jy">Want</div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">HTML</div>
                    <div class="auto-group-bzjh-Dsf">Java</div>
                </div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">CSS</div>
                    <div class="auto-group-bzjh-Dsf">Spring</div>
                </div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">JS</div>
                    <div class="auto-group-bzjh-Dsf">Python</div>
                </div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">React</div>
                    <div class="auto-group-bzjh-Dsf">Vue</div>
                </div>
            </div>

            <div class="auto-group-7skv-fRT">
                <div class="auto-group-z6fs-DSy">Many</div>
                <div class="auto-group-8drh-tZ7 selected">3명</div>
            </div>

            <div class="auto-group-wnkq-7dT">
                <div class="auto-group-d6xb-3Jy">
                    <p class="how-detail-nUh">
                        How?
                    </p>
                </div>
                <div class="auto-group-8nj3-5Cu">
                    <div class="singupbutton-RXf">
                        <p class="item-3-5--8S5">
                            3회 이상 지각시 강제퇴출
                        </p>
                        <p class="item-3-5--8S5">
                            3회 이상 지각시 강제퇴출
                        </p>
                        <p class="item-3-5--8S5">
                            3회 이상 지각시 강제퇴출
                        </p>
                    </div>
                    <div class="group-91-kCZ">
                        <div class="singupbutton-HCV">
                            <div class="rectangle-132-SLH">
                            </div>
                            <p class="upload-9Vb">Upload</p>
                            <img class="icons-fileupload-TFP" src="../assets/create/file_upload.svg" alt="#" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="singupbutton-Vhs">
            <div class="singupbutton-wJy">등록</div>
        </div>
    </div>
</div>
</body>

</html>