<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>

    <link rel="stylesheet" th:href="@{../css/create.css}" href="../../static/css/create.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400">
</head>

<body>
<div class="main">

    <form class="createForm" th:action="@{/createTeam}" th:method="post">
        <div class="createFormLogo">
            <div class="createFormLogoText">Create Team </div>
            <img class="createFormLogoImg" src="../assets/create/close.svg" alt="#">
        </div>
        <input class="createTeamName" name="teamName" id="teamName" placeholder="팀 이름을 입력하세요">
        <div class="teamCreateInputGroup">
            <div class="teamSingleLineInputGroup">
                <div class="teamTypeLabel" title="해당 팀의 목적은 무엇인가요?">Type</div>
                <div class="teamTypeButton" onclick="clickTeamType('project')" id="project">프로젝트</div>
                <div class="teamTypeButton" onclick="clickTeamType('study')" id="study">스터디</div>
                <div class="teamTypeButton" onclick="clickTeamType('employment')" id="employment">취준</div>
                <div class="teamTypeButton" onclick="clickTeamType('others')" id="others">기타</div>
            </div>
            <input type="text" hidden="hidden" name="teamType" id="teamType">
            <script>

                function clickTeamType(type){
                    let selectedType = document.getElementById(type);
                    if (selectedType.classList.contains('selected')){
                        selectedType.classList.remove('selected');
                        document.getElementById("teamType").value="";
                    }
                    else {
                        document.getElementById('project').classList.remove('selected');
                        document.getElementById('study').classList.remove('selected');
                        document.getElementById('employment').classList.remove('selected');
                        document.getElementById('others').classList.remove('selected');
                        selectedType.classList.add('selected');
                        document.getElementById("teamType").value = type;
                    }

                }
            </script>

            <div class="teamSingleLineInputGroup">
                <div class="teamOpenLabel" title="해당 팀은 온라인으로 활동을 진행하나요? 아니면 오프라인 위주로 진행하나요?">Where</div>
                <div class="teamOpenButton" id="online" onclick="changeTeamOpen('online')">온라인</div>
                <div class="teamOpenButton" id="offline" onclick="changeTeamOpen('offline')">오프라인</div>
                <input type="text" hidden="hidden" name="open" id="open">
            </div>
            <script>
                function changeTeamOpen(type){
                    let selectedOpen = document.getElementById(type);
                    if (selectedOpen.classList.contains('selected')){
                        selectedOpen.classList.remove('selected');
                        document.getElementById("open").value="";
                    }
                    else {
                        document.getElementById('online').classList.remove('selected');
                        document.getElementById('offline').classList.remove('selected');
                        selectedOpen.classList.add('selected');
                        document.getElementById("open").value = type;
                    }

                }
            </script>
            <div class="teamDoubleLineInputGroup">
                <div class="teamTechLabel" title="해당 팀의 핵심 기술 스택을 최대 4가지까지 골라주세요!">Tech</div>
                <div class="teamTechStackInputGroup">
                    <input class="teamTechStackInput" id="teamTechStackInput">
                    <div class="teamTechStackLabelGroup" id="teamTechStackLabelGroup"></div>
                    <input hidden="hidden" type="text" id="techStackList" name="techStackList">

                    <script>
                        let techStackNum = 0;
                        let teamTechStackInput = document.getElementById("teamTechStackInput");
                        teamTechStackInput.addEventListener("keyup", event => techStackInputEntered(event));
                        let techStackLabelGroup = document.getElementById("teamTechStackLabelGroup");
                        let techStackForm = document.getElementById('techStackList');
                        async function techStackInputEntered(e){
                            if (e.key === 'Enter'){
                                let techStackValue = teamTechStackInput.value;
                                let response = await fetch('/api/techStackExists', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: techStackValue,
                                    credentials: 'include' // 인증정보를 포함하는 옵션
                                });

                                if (await response.text() === 'true'){
                                    let techStackName = techStackValue.toLowerCase();
                                    if (checkTechStackAlreadyIncluded(techStackName)){
                                        alert('이미 포함된 techStack 이름입니다.');
                                    }
                                    else if (techStackNum >= 4) {
                                        alert('최대 4개까지 기술 스택을 고를 수 있습니다!');
                                    }
                                    else {
                                        let newDiv = document.createElement('div');
                                        newDiv.classList.add("teamTechStackLabel");
                                        newDiv.innerText = techStackName;
                                        techStackLabelGroup.appendChild(newDiv);
                                        techStackForm.value = techStackName + "/" + techStackForm.value ;
                                        techStackNum = techStackNum + 1;
                                    }
                                }
                                else {
                                    alert('서버에서 관리하지 않는 techStack 이름입니다.');
                                }
                            }
                        }

                        function checkTechStackAlreadyIncluded(name){
                            let divList = document.getElementsByClassName('teamTechStackLabel');
                            // 가져온 div 요소들을 순회하면서 조건을 확인합니다.
                            for (let i = 0; i < divList.length; i++){
                                if (divList[i].innerText === name){
                                    return true;
                                }
                            }
                            return false;
                        }
                    </script>
                </div>
            </div>

            <div class="teamDoubleLineInputGroup">
                <div class="teamTechLabel" title="팀에 대한 설명을 적어주세요!">Team Info</div>
                <textarea class="teamCreateTextarea" name="teamDescribe" id="teamDescribe"></textarea>
            </div>

            <div class="teamDoubleLineInputGroup">
                <div class="teamTechLabel" title="모집 공고글에 적히게 될 설명을 적어주세요!">Recruit Info</div>
                <textarea class="teamCreateTextarea" name="teamRecruitDetails" id="teamRecruitDetails"></textarea>
            </div>

            <div class="teamSingleLineInputGroup">
                <div class="teamTypeLabel" title="몇명의 팀원들을 모집하실 생각인가요?">Many</div>
                <input class="teamNumberInput" id="memberNum" name="memberNum">
                <label class="teamNumberInputLabel" for="memberNum">명</label>
            </div>


        </div>
        <div class="singUpButtonGroup">
            <div class="singUpButton">등록</div>
        </div>
    </form>
</div>
</body>

</html>