<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../css/create_recruit.css}" href="../../static/css/create_recruit.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400">
</head>

<body>


<div class="main">
    <form class="createForm slide-in-top" th:method="post" id="createForm">
        <div class="createFormLogo">
            <div class="createFormLogoText">Create_recruit</div>
            <img class="createFormLogoImg" src="../../static/assets/create/close.svg" th:src="@{/assets/create/close.svg}" alt="#" />

        </div>
        <input class="createTeamName" th:value="${teamName}" readonly>
        <div class="teamCreateInputGroup">
            <div class="recruitTitleInfo" id="recruitTitleInfo">
                <div class="teamTechLabel" title="모집 공고글에 적히게 될 설명을 적어주세요!">Recruit Title</div>
                <textarea class="recruitTitleInput" type="text" id="teamRecruitName" name="teamRecruitName" th:value="${teamRecruitName}"></textarea>
            </div>

            <div class="recruitDetailsInfo" id="recruitDetailsInfo">
                <div class="teamTechLabel-big" title="모집 공고글에 적히게 될 설명을 적어주세요!">Recruit Info</div>
                <textarea class="teamCreateTextarea" name="teamRecruitDetails" id="teamRecruitDetails" th:value="${teamRecruitDetails}"></textarea>
            </div>

            <div class="teamSingleLineInputGroup">
                <div class="teamTagLabel" title="몇명의 팀원들을 모집하실 생각인가요?">Many</div>
                <input class="teamNumberInput" id="memberNum" name="memberNum" required onchange="onlyNumberInput(this)">
                <label class="teamNumberInputLabel" for="memberNum" >명</label>
            </div>
            <script>
                let isEdit = [[${ isEdit }]];
                if (isEdit){
                    document.getElementById('createForm').setAttribute("action", '/recruit/' + [[${recruitId}]] + '/edit');
                }
                else {
                    document.getElementById('createForm').setAttribute("action", '/team/' + [[${teamId}]] + '/recruit');
                }
                function onlyNumberInput(element){
                    let inputValue = element.value;
                    if (inputValue !== "" && !isNumeric(inputValue)) {
                        alert('숫자를 입력하세요.');
                        element.value = ''; // 값을 지움
                    }
                    function isNumeric(value) {
                        return /^\d+$/.test(value);
                    }
                }
            </script>
        </div>

        <div class="singUpButtonGroup">
            <button class="singUpButton" id="signUpButton" type="submit">등록</button>
        </div>
    </form>



</div>


</body>
</html>