<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>회원정보</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500" />
    <link rel="stylesheet" href="../styles/declare.css" />
</head>

<body>
    <!-- Declare List / 신고리스트 -->
    <div class="item--DHT">
        <div class="auto-group-rt5f-Hgd">
            <div class="group-254-C2u">
                <div class="declare-list-WJV">Declare List</div>
                <div class="group-213-jww">
                    <div class="group-249-6nV">글쓰기</div>
                </div>
            </div>

            <!-- 번호/제목/신고일/ -->
            <div class="auto-group-ebq3-m7w">
                <div class="line-86-G4h">
                </div>
                <div class="group-250-Cyw">
                    <p class="item--LqF">번호</p>
                    <p class="item--Rbo">제목</p>
                    <p class="item--9Gu">신고일</p>
                    <p class="item--THb">수정/삭제</p>
                    <p class="item--QCq">답변여부</p>
                </div>
                <div class="line-79-Kah">
                </div>


                <div class="group-251-3mb">
                    <div class="auto-group-6pd7-LVo">
                        <p class="item-230817-gJm">230817</p>
                        <p class="oo--DpV">OO 이를 신고합니다.</p>
                        <p class="item-2023-08-02-kpR">2023-08-02</p>
                    </div>
                    <div class="flex">
                        <div class="group-262-euo">수정</div>
                        <div class="group-264-euo">삭제</div>
                    </div>

                    <p class="item--VvR">완료</p>
                </div>
                <div class="line-80-dmj">
                </div>



                <div class="group-251-3mb">
                    <div class="auto-group-6pd7-LVo">
                        <p class="item-230817-gJm">230817</p>
                        <p class="oo--DpV">OO 이를 신고합니다.</p>
                        <p class="item-2023-08-02-kpR">2023-08-02</p>
                    </div>
                    <div class="flex">
                        <div class="group-262-euo">수정</div>
                        <div class="group-264-euo">삭제</div>
                    </div>

                    <p class="item--VvR">완료</p>
                </div>
                <div class="line-80-dmj">
                </div>


                <div class="group-251-3mb">
                    <div class="auto-group-6pd7-LVo">
                        <p class="item-230817-gJm">230817</p>
                        <p class="oo--DpV">OO 이를 신고합니다.OO 이를 신고합이를 신고합니다.</p>
                        <p class="item-2023-08-02-kpR">2023-08-02</p>
                    </div>
                    <div class="flex">
                        <div class="group-262-euo">수정</div>
                        <div class="group-264-euo">삭제</div>
                    </div>

                    <p class="item--VvR">완료</p>
                </div>
                <div class="line-80-dmj">
                </div>



                <div class="group-251-3mb">
                    <div class="auto-group-6pd7-LVo">
                        <p class="item-230817-gJm">230817</p>
                        <p class="oo--DpV">OO 이를 신고합니다.</p>
                        <p class="item-2023-08-02-kpR">2023-08-02</p>
                    </div>
                    <div class="flex">
                        <div class="group-262-euo">수정</div>
                        <div class="group-264-euo">삭제</div>
                    </div>

                    <p class="item--VvR">미완</p>
                </div>
                <div class="line-80-dmj">
                </div>
            </div>
        </div>
    </div>

    <!-- Declare / 팝업-->
    <div class="item--tPs">
        <div class="auto-group-oydx-bhb">
            <div class="auto-group-wdus-V2H">
                <div class="declare-AeD">Declare</div>
                <img class="close-Srd" src="../assets/declare/close.svg" alt="X" />
            </div>
            <div class="singupbutton-Y8y">Title : 신고합니다.</div>
            <div class="type-m1j">Type</div>
            <div class="auto-group-tkjb-t6M">
                <div class="mat-btn-mvq">
                    <div class="content-7E1">욕설/비방</div>
                </div>

                <div class="mat-btn-mvq">
                    <div class="content-7E1">도배</div>
                </div>

                <div class="mat-btn-mvq">
                    <div class="content-7E1">음란</div>
                </div>

                <div class="mat-btn-mvq">
                    <div class="content-7E1">기타</div>
                </div>

            </div>
            <input type="textarea" placeholder="Detail :신고합니다!" class="auto-group-jykm-4iu" />
            <div class="group-249-KPw">신고</div>
        </div>
    </div>

</body>

</html>