<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail_recruiting</title>
    <link rel="stylesheet" href="../../static/css/detail_recruiting.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400">
</head>

<body>
    <div class="group-73-HfF">
        <div class="auto-group-y3v9-Nwb">
            <div class="new-create-hU5">Detail</div>
            <img class="close-cL9" src="../assets/detail_recruiting/close.svg" alt="#">
        </div>
        <div class="singupbutton-jvZ">Title : </div>
        <div class="teamCreateInputGroup">
            <div class="teamSingleLineInputGroup">
                <div class="teamTypeLabel">Type</div>
                <div class="teamTypeButton">프로젝트</div>
                <div class="teamTypeButton">스터디</div>
                <div class="teamTypeButton">취준</div>
                <div class="teamTypeButton">기타</div>
            </div>

            <div class="teamDoubleLineInputGroup">
                <div class="teamTechLabel">When</div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-mpfb-bUD">
                        <div class="auto-group-w4vd-jaR">월</div>
                        <div class="auto-group-w4vd-jaR">화</div>
                        <div class="auto-group-w4vd-jaR">수</div>
                        <div class="auto-group-w4vd-jaR">목</div>
                        <div class="auto-group-w4vd-jaR">금</div>
                        <div class="auto-group-w4vd-jaR">토</div>
                        <div class="auto-group-w4vd-jaR">일</div>
                    </div>
                    <div>
                        <div class="auto-group-nkpy-eUR">19 : 00 ~ 20 : 00</div>
                    </div>
                </div>
            </div>

            <div class="teamSingleLineInputGroup">
                <div class="teamTypeLabel">Where</div>
                <div class="teamTypeButton">온라인</div>
                <div class="teamTypeButton">오프라인</div>
            </div>
            <div class="teamDoubleLineInputGroup">
                <div class="teamTechLabel">Want</div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">HTML</div>
                    <div class="auto-group-bzjh-Dsf">Java</div>
                </div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">CSS</div>
                    <div class="auto-group-bzjh-Dsf">Spring</div>
                </div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">JS</div>
                    <div class="auto-group-bzjh-Dsf">Python</div>
                </div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">React</div>
                    <div class="auto-group-bzjh-Dsf">Vue</div>
                </div>
            </div>

            <div class="teamSingleLineInputGroup">
                <div class="teamTypeLabel">Many</div>
                <div class="teamTypeButton selected">3명</div>
            </div>

            <div class="auto-group-wnkq-7dT">
                <div class="teamTechLabel">
                    <p class="how-detail-nUh">
                        How?
                    </p>
                </div>
                <div class="auto-group-8nj3-5Cu">
                    <div class="singupbutton-RXf">
                        <p class="item-3-5--8S5">
                            3회 이상 지각시 강제퇴출
                        </p>
                        <p class="item-3-5--8S5">
                            3회 이상 지각시 강제퇴출
                        </p>
                        <p class="item-3-5--8S5">
                            3회 이상 지각시 강제퇴출
                        </p>
                    </div>
                    <div class="group-91-kCZ">
                        <div class="singupbutton-HCV">
                            <div class="rectangle-132-SLH">
                            </div>
                            <p class="upload-9Vb">Down</p>
                            <img class="icons-fileupload-TFP" src="../assets/detail_recruiting/file_download.svg"
                                alt="#" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="singupbutton-Vhs">

            <!-- 1. 모집중/등록자 View-->
            <div class="singupbutton-wyy">수정</div>
            <div class="singupbutton-wJy">모집마감</div>

            <!-- 2. 모집중/참여자 View-->
            <!-- <div class="singupbutton-wJy">참여신청</div> -->
        </div>
    </div>
</body>

</html>