<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/detail_complete.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400">
</head>
<body>
<div class="mainContainer">

  <div class="auto-group-y3v9-Nwb">
    <div class="new-create-hU5">Detail</div>
    <img class="close-cL9" src="../../static/assets/detail_complete/close.svg" th:src="@{/assets/detail_complete/close.svg}" alt="#">

  </div>
  <div class="singupbutton-jvZ">Title : </div>

  <div class="teamCreateInputGroup">
    <div class="teamSingleLineInputGroup">
      <div class="teamTagLabel">Type</div>
      <div class="teamTagButton">프로젝트</div>
      <div class="teamTagButton">스터디</div>
      <div class="teamTagButton">취준</div>
      <div class="teamTagButton">기타</div>
    </div>

    <div class="teamDoubleLineInputGroup">
      <div class="teamTechLabel">When</div>
      <div class="auto-group-s8jb-62M">
        <div class="auto-group-mpfb-bUD">
          <div class="auto-group-w4vd-jaR">월</div>
          <div class="auto-group-w4vd-jaR">화</div>
          <div class="auto-group-w4vd-jaR">수</div>
          <div class="auto-group-w4vd-jaR">목</div>
          <div class="auto-group-w4vd-jaR">금</div>
          <div class="auto-group-w4vd-jaR">토</div>
          <div class="auto-group-w4vd-jaR">일</div>
        </div>
        <div>
          <div class="auto-group-nkpy-eUR">19 : 00 ~ 20 : 00</div>
        </div>
      </div>
    </div>

    <div class="teamSingleLineInputGroup">
      <div class="teamTagLabel">Where</div>
      <div class="teamTagButton">온라인</div>
      <div class="teamTagButton">오프라인</div>
    </div>

    <div class="teamDoubleLineInputGroup">
      <div class="teamTechLabel">Want</div>
      <div class="auto-group-s8jb-62M">
        <div class="auto-group-bzjh-Dsf">HTML</div>
        <div class="auto-group-bzjh-Dsf">Java</div>
      </div>
      <div class="auto-group-s8jb-62M">
        <div class="auto-group-bzjh-Dsf">CSS</div>
        <div class="auto-group-bzjh-Dsf">Spring</div>
      </div>
      <div class="auto-group-s8jb-62M">
        <div class="auto-group-bzjh-Dsf">JS</div>
        <div class="auto-group-bzjh-Dsf">Python</div>
      </div>
      <div class="auto-group-s8jb-62M">
        <div class="auto-group-bzjh-Dsf">React</div>
        <div class="auto-group-bzjh-Dsf">Vue</div>
      </div>
    </div>

    <div class="teamSingleLineInputGroup">
      <div class="teamTagLabel">Many</div>
      <div class="teamTagButton selected">3명</div>
    </div>

    <div class="recruitRecruitDescribeGroup">
      <div class="teamTechLabel">
        <p class="how-detail-nUh">
          How?
        </p>
      </div>
      <div class="recruitRightRecruitDescribe">
        <div class="recruitRightRecruitDescribeBox">
          <p class="item-3-5--8S5">
            3회 이상 지각시 강제퇴출
          </p>
          <p class="item-3-5--8S5">
            3회 이상 지각시 강제퇴출
          </p>
          <p class="item-3-5--8S5">
            3회 이상 지각시 강제퇴출
          </p>
        </div>
        <div class="group-91-kCZ">
          <div class="singupbutton-HCV">
            <div class="rectangle-132-SLH">
            </div>
            <p class="upload-9Vb">Down</p>
            <img class="icons-fileupload-TFP" src="../../static/assets/detail_complete/file_download.svg"
                 alt="#" />
          </div>
        </div>
      </div>
    </div>
<!--    <img class="up" src="../../static/assets/detail_complete/chevron-up.svg" alt="#">-->
  </div>

  <div class="auto-group-y3v9-Nwb">
    <div class="new-create-hU5">Project</div>
  </div>
  <div class="Project_datail">
    <div class="submit">등록</div>
  </div>

  <div class="auto-group-y3v9-Nwb">
    <div class="new-create-hU5">Review</div>
  </div>
  <div class="auto-group-q6tz-kmf">
    <div class="auto-group-vbqd-SuP">
      <div class="mat-avatar-mRs">person</div>
      <div class="auto-group-zxu5-TZb">댓글 추가</div>
    </div>
    <div class="auto-group-i3hk-jX7">
      <div class="mat-avatar-TT7">person</div>
      <div class="auto-group-rzst-idw">
        <p class="gmlcjf0326-5Db">@gmlcjf0326</p>
        <p class="item--ndo">잘 보고 갑니다.</p>
      </div>
    </div>
    <div class="auto-group-gkpw-VYD">
      <div class="mat-avatar-2HF">person</div>
      <div class="auto-group-x5p7-WiD">
        <p class="wonki123-g6u">@wonki123</p>
        <p class="item--bzZ">잘 보고 갑니다. 굿</p>
      </div>
    </div>
  </div>


  <div class="auto-group-y3v9-Nwb">
    <div class="new-create-hU5">Comment</div>
  </div>
  <div class="auto-group-q6tz-kmf">
    <div class="auto-group-vbqd-SuP">
      <div class="mat-avatar-mRs">person</div>
      <div class="auto-group-zxu5-TZb">댓글 추가</div>
    </div>
    <div class="auto-group-i3hk-jX7">
      <div class="mat-avatar-TT7">person</div>
      <div class="auto-group-rzst-idw">
        <p class="gmlcjf0326-5Db">@gmlcjf0326</p>
        <p class="item--ndo">잘 보고 갑니다.</p>
      </div>
    </div>
    <div class="auto-group-gkpw-VYD">
      <div class="mat-avatar-2HF">person</div>
      <div class="auto-group-x5p7-WiD">
        <p class="wonki123-g6u">@wonki123</p>
        <p class="item--bzZ">잘 보고 갑니다. 굿</p>
      </div>
    </div>
  </div>


  <div class="buttonGroup">
    <div class="redButton">
      <!-- 1. 추천 클릭 전 -->
      <img class="heart" src="../../static/assets/detail_complete_on/heart.svg" alt="#" />추천

      <!-- 2. 추천 클릭 후-->
      <!-- <img class="heart" src="../../static/assets/detail_complete_on/heart_selected.svg" alt="#" />등록 -->
    </div>
  </div>
</div>

</div>

</body>

<script>

</script>
</html>