<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail_complete_off</title>
    <link rel="stylesheet" href="../styles/detail_complete_off.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400">
</head>

<body>
    <div class="mainContainer">
        <div class="auto-group-y3v9-Nwb">
            <div class="new-create-hU5">Detail</div>
            <img class="close-cL9" src="../assets/detail_complete_off/close.svg" alt="#">
        </div>
        <div class="singupbutton-jvZ">Title :
            <img class="close-fg11" src="../assets/detail_complete_off/chevron-down.svg" alt="#">
        </div>

        <div class="auto-group-y3v9-Nwb">
            <div class="new-create-hU5">Project</div>

        </div>
        <div class="Project_datail">
            <div class="submit">등록</div>
        </div>

        <div class="auto-group-y3v9-Nwb">
            <div class="new-create-hU5">Review</div>
        </div>
        <div class="auto-group-q6tz-kmf">
            <div class="auto-group-vbqd-SuP">
                <div class="mat-avatar-mRs">person</div>
                <div class="auto-group-zxu5-TZb">댓글 추가</div>
            </div>
            <div class="auto-group-i3hk-jX7">
                <div class="mat-avatar-TT7">person</div>
                <div class="auto-group-rzst-idw">
                    <p class="gmlcjf0326-5Db">@gmlcjf0326</p>
                    <p class="item--ndo">잘 보고 갑니다.</p>
                </div>
            </div>
            <div class="auto-group-gkpw-VYD">
                <div class="mat-avatar-2HF">person</div>
                <div class="auto-group-x5p7-WiD">
                    <p class="wonki123-g6u">@wonki123</p>
                    <p class="item--bzZ">잘 보고 갑니다. 굿</p>
                </div>
            </div>
        </div>

        <div class="auto-group-y3v9-Nwb">
            <div class="new-create-hU5">Comment</div>
        </div>
        <div class="auto-group-q6tz-kmf">
            <div class="auto-group-vbqd-SuP">
                <div class="mat-avatar-mRs">person</div>
                <div class="auto-group-zxu5-TZb">댓글 추가</div>
            </div>
            <div class="auto-group-i3hk-jX7">
                <div class="mat-avatar-TT7">person</div>
                <div class="auto-group-rzst-idw">
                    <p class="gmlcjf0326-5Db">@gmlcjf0326</p>
                    <p class="item--ndo">잘 보고 갑니다.</p>
                </div>
            </div>
            <div class="auto-group-gkpw-VYD">
                <div class="mat-avatar-2HF">person</div>
                <div class="auto-group-x5p7-WiD">
                    <p class="wonki123-g6u">@wonki123</p>
                    <p class="item--bzZ">잘 보고 갑니다. 굿</p>
                </div>
            </div>
        </div>
        <div class="redButton">
            <!-- 1. 추천 클릭 전 -->
            <img class="heart" src="../assets/detail_complete_off/heart.svg" alt="#" />추천

            <!-- 2. 추천 클릭 후-->
            <!-- <img class="heart" src="../assets/detail_complete_off/heart_selected.svg" alt="#" />등록 -->
        </div>
    </div>
    </div>
</body>

</html>