<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail_filter</title>
    <link rel="stylesheet" href="../styles/detail_filter.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400">
</head>

<body>
    <div class="group-73-HfF">
        <div class="auto-group-y3v9-Nwb">
            <div class="new-create-hU5">Detail filter</div>
            <img class="close-cL9" src="../assets/filter_detail/close.svg" alt="#">
        </div>
        <div class="auto-group-mbu3-bC5">
            <div class="auto-group-7skv-fRT">
                <div class="auto-group-z6fs-DSy">Type</div>
                <div class="auto-group-8drh-tZ7">프로젝트</div>
                <div class="auto-group-8drh-tZ7">스터디</div>
                <div class="auto-group-8drh-tZ7">취준</div>
                <div class="auto-group-8drh-tZ7">기타</div>
            </div>
            <div class="auto-group-fm45-J6V">
                <div class="auto-group-d6xb-3Jy">When</div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-mpfb-bUD">
                        <div class="auto-group-w4vd-jaR">월</div>
                        <div class="auto-group-w4vd-jaR">화</div>
                        <div class="auto-group-w4vd-jaR">수</div>
                        <div class="auto-group-w4vd-jaR">목</div>
                        <div class="auto-group-w4vd-jaR">금</div>
                        <div class="auto-group-w4vd-jaR">토</div>
                        <div class="auto-group-w4vd-jaR">일</div>
                    </div>
                    <div>
                        <div class="auto-group-nkpy-eUR">19 : 00 ~ 20 : 00</div>
                    </div>
                </div>
            </div>

            <div class="auto-group-7skv-fRT">
                <div class="auto-group-z6fs-DSy">Where</div>
                <div class="auto-group-8drh-tZ7">온라인</div>
                <div class="auto-group-8drh-tZ7">오프라인</div>
            </div>
            <!-- 
            <div class="auto-group-7skv-fRT">
                <div class="auto-group-z6fs-DSy">What</div>
                <div class="auto-group-8drh-tZ7">기획</div>
                <div class="auto-group-8drh-tZ7">디자인</div>
                <div class="auto-group-8drh-tZ7">프론트</div>
                <div class="auto-group-8drh-tZ7">백엔드</div>
            </div> -->
            <div class="auto-group-fm45-J6V">
                <div class="auto-group-d6xb-3Jy">Want</div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">HTML</div>
                    <div class="auto-group-bzjh-Dsf">Java</div>
                </div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">CSS</div>
                    <div class="auto-group-bzjh-Dsf">Spring</div>
                </div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">JS</div>
                    <div class="auto-group-bzjh-Dsf">Python</div>
                </div>
                <div class="auto-group-s8jb-62M">
                    <div class="auto-group-bzjh-Dsf">React</div>
                    <div class="auto-group-bzjh-Dsf">Vue</div>
                </div>
            </div>

            <div class="auto-group-7skv-fRT">
                <div class="auto-group-z6fs-DSy">Many</div>
                <div class="auto-group-8drh-tZ7 selected">3명</div>
            </div>
        </div>
        <div class="singupbutton-Vhs">
            <div class="singupbutton-wJy">적용</div>
        </div>
    </div>
</body>

</html>