<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" th:href="@{../css/login.css}" href="../../static/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400">
</head>

<body>
    <div class="item--cUZ">
        <img src="../assets/login/logo.png" class="image-9-CWd" alt="logo">
        <p class="login-page-7AR">Login page</p>
        <div class="line"></div>
        <div class="idinputcomponent-9mK">
            <div class="idinput-gmF">
            </div>
            <div class="id-oay">ID</div>
        </div>
        <p class="item--W81">아이디를 입력해 주세요.</p>

        <div class="pwinputcomponent-DDT">
            <div class="pwinput-wfF">
            </div>
            <div class="password-s37">Password</div>
        </div>
        <p class="item--1S9">비밀번호를 입력해 주세요.</p>

        <div class="auto-group-qaqf-WGR">
            <div class="singupbutton-SA5">Login</div>
            <div class="singupbutton-Jxy">Sign up</div>
        </div>
        <img class="close-PDj" src="../assets/login/close.svg" alt="x">
    </div>
</body>

</html>