<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Meeting Room</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700" />
    <link rel="stylesheet" th:href="@{../css/meeting.css}" href="../../static/css/meeting.css">

</head>

<body>
    <div class="item--MrH">
        <!-- 대화상대초대 -->
        <div class="memberlist-qFf">
            <div class="main-XeH">
                <div class="auto-group-wgzp-H7f">
                    <div class="member1-yWH">
                        <div class="ellipse-7-H1B">
                        </div>
                        <p class="item--1C5">김희철</p>
                    </div>
                    <div class="member2-vK3">
                        <div class="ellipse-7-FcD">
                        </div>
                        <p class="item--zph">문원기</p>
                    </div>
                    <div class="member3-jXP">
                        <div class="ellipse-7-UE5">
                        </div>
                        <p class="item--ziD">박혜진</p>
                    </div>
                </div>
                <div class="line-uaH">
                </div>
                <div class="memberinviting-enm">
                    <img class="close-PVT" src="../assets/meeting/plus.svg" alt="대화상대 초대" />
                    <p class="item--iGq">대화상대 초대</p>
                </div>
            </div>
        </div>
        <div class="auto-group-ujpr-aK3">
            <!-- Meeting Room -->
            <div class="meetingroom-62V">
                <div class="main-pjB">
                    <div class="title-aiM">
                        <div class="meeting-room-7yB">Meeting Room</div>
                        <img class="close-2qF" src="../assets/meeting/close.svg" alt="close" />
                    </div>
                    <div class="lists-a65">
                        <div class="group-299-t6m">
                            <div class="group-290-d4M">
                                <p class="name-XvR">Name</p>
                                <p class="date-ek9">Date</p>
                                <p class="member-xVw">Member</p>
                            </div>
                            <div class="group-292-J41">
                                <div class="group-291-Qcq">
                                    <p class="project-a-71T">Project A</p>
                                    <p class="item-23-08-0108-31-Ebs">23/08/01~08/31</p>
                                    <p class="item-3-3-wWH">3/3</p>
                                </div>
                            </div>
                            <div class="group-292-J41">
                                <div class="group-291-Qcq">
                                    <p class="project-a-71T">Project A</p>
                                    <p class="item-23-08-0108-31-Ebs">23/08/01~08/31</p>
                                    <p class="item-3-3-wWH">3/3</p>
                                </div>
                            </div>
                            <div class="group-292-J41">
                                <div class="group-291-Qcq">
                                    <p class="project-a-71T">Project A</p>
                                    <p class="item-23-08-0108-31-Ebs">23/08/01~08/31</p>
                                    <p class="item-3-3-wWH">3/3</p>
                                </div>
                            </div>
                            <div class="group-292-J41">
                                <div class="group-291-Qcq">
                                    <p class="project-a-71T">Project A</p>
                                    <p class="item-23-08-0108-31-Ebs">23/08/01~08/31</p>
                                    <p class="item-3-3-wWH">3/3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-p3b">
                        <div class="making-vcR">방 만들기</div>
                        <div class="fix-wXX">수정</div>
                    </div>
                </div>
            </div>

            <!-- 채팅방 -->
            <div class="chating-Wyw">
                <div class="rectangle-329-sZb">
                </div>
                <div class="sendsection-wZT">
                    <div class="imoticon-eim">
                        <img class="happy-face-btu" src="../assets/meeting/imoticon.svg" alt="이모티콘" />
                        <img class="attach-M7P" src="../assets//meeting/attach.svg" alt="첨부" />
                    </div>
                </div>
                <div class="main-1xd">
                    <div class="title-x7B">
                        <div class="group-301-5xV">
                            <div class="rectangle-411-EqP">
                            </div>
                            <div class="group-300-Ayw">
                                <div class="person-dMj">person</div>
                                <p class="item-3-HSH">3</p>
                            </div>
                        </div>
                        <div class="project-a-BGm">Project A</div>
                        <img class="close-fxd" src="../assets/meeting/close.svg" alt="" />
                    </div>
                    <div class="rectangle-348-1Fo">
                    </div>
                    <div class="messege-jxV">
                        <div class="group-306-rZF">
                            <div class="mat-avatar-Pp5">person</div>
                            <div class="group-304-E41">개힘듬 그만하까</div>
                            <div class="item-00-00-31T">오후 00:00</div>
                        </div>
                        <div class="group-306-rZF">
                            <div class="mat-avatar-Pp5">person</div>
                            <div class="group-304-E41">나도 개힘듬 그만하까ㅇㄹㄴㅇㄹㄴㅇㄹㄴㄹㅇㄴㅇㄹㄴ만하까ㅇㄹㄴㅇㄹㄴㅇㄹㄴㄹㅇㄴㅇㄹㄴㄹㅇㄴㅇㄹㄴㅇㄹㄴㅇㄴㄹ</div>
                            <div class="item-00-00-31T">오후 00:00</div>
                        </div>
                        <div class="group-308-Tay">
                            <div class="item-00-00-oeq">오후 00:00</div>
                            <div class="group-307-Xqj">나가면 디진다</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>