<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <link rel="stylesheet" th:href="@{../css/mypage.css}" href="../../static/css/mypage.css">
    <link th:href="@{../bootstrap/bootstrap.css}" href="../../static/bootstrap/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-subtle rounded-1">
        <div class="container-fluid">
            <a class="navbar-brand text-dark" href="#">QuickMatch</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark text-decoration-none" href="#">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none bg-dark rounded-3">MyPage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark text-decoration-none" th:href="@{/logout}">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="profileContainer">
        <div class="profileTitleGroup">
            <div class="profileTitleUsername" th:text="${profile.getUsername()}">username</div>
            <img class="close-cL9" src="../assets/detail_recruiting/close.svg" alt="#">
        </div>

        <div class="profileInfoGroup">
            <div class="profileContainerLeft">

                <div class="profileSingleLineGroup">
                    <div class="profileTagLabel">Email</div>
                    <div class="profileTagButton" th:text="${profile.getEmail()}">email</div>
                </div>

                <div class="profileSingleLineGroup">
                    <div class="profileTagLabel">Phone</div>
                    <div class="profileTagButton" th:text="${profile.getPhone()}">phone</div>
                </div>


                <div class="profileSingleLineGroup">
                    <div class="profileTagLabel">Location</div>
                    <div class="profileTagButton" th:text="${profile.getLocation()}">location</div>
                </div>
                <div class="profileSingleLineGroup">
                    <div class="profileTagLabel">Tech</div>
                    <div class="profileTagButton" th:each="tech : ${profile.getTechStackList()}" th:text="${tech}">HTML</div>
                </div>

                <div class="profileSingleLineGroup">
                    <div class="profileTagLabel">GITHUB</div>
                    <div class="profileTagButton" th:text="${profile.getGithub()}">https://github.com</div>
                </div>
            </div>

            <div class="profileContainerRight">
                <div class="profileLongLineGroup">
                    <div class="profileRightTagLabel">수상경력</div>
                    <div class="profileRightDescribe">
                        <div class="profileRightDescribeBox" th:text="${profile.getPrize()}">안녕하세요! </div>
                    </div>
                </div>
                <div class="profileLongLineGroup">
                    <div class="profileRightTagLabel">과거경력</div>
                    <div class="profileRightDescribe">
                        <div class="profileRightDescribeBox" th:text="${profile.getPast()}">안녕하세요! </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profileInfoGroup">
            <div class="profileDoubleLineGroup">
                <div class="profileDoubleTagLabel" title="자신에 대한 설명을 적어주세요!">About Me</div>
                <div class="profileAboutMe" th:text="${profile.getIntroduction()}">설명</div>
            </div>
        </div>

        <div class="profileTeamGroup" th:if="${isOwner}">
            <a class="myTeam" th:each="myTeam : ${teamList}" th:text="${myTeam.getTeamName()}" th:attr="teamId=${myTeam.getTeamName()}" onclick="goTeamPage(this)"></a>
            <script>
                function goTeamPage(element){
                    let teamId = element.getAttribute("teamId");
                    window.location.href = '/team/' + teamId;
                }
            </script>
        </div>

        <div class="buttonGroup">
            <!-- 1. 모집중/등록자 View-->
            <a class="grayButton neon-soda-button" th:if="${isOwner}" th:href="@{'/profile/' + ${profile.getUsername()} + '/edit'}">수정</a>
        </div>




    </div>
</div>
</body>
</html>