<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>마이페이지</title>
  <link rel="stylesheet" href="../styles/mypage_pop.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700" />
</head>

<body>
  <!-- 4.mypage(pop) -->
  <div class="item--Fa1">
    <img class="close-N2M" src="../assets/mypage_pop/close.svg" alt="X" />
    <div class="profile-gQR">Profile</div>
    <div class="group-372-UbB">
      <div class="group-371-PCM">
        <div class="group-370-j1K">
          <div class="group-368-HHj">
            <!-- 프로필 -->
            <div class="group-347-ETs">
              <div class="mat-avatar-wt5">person</div>
              <img class="help-B1j" src="../assets/mypage_pop/help.svg" alt="help" />

              <div class="group-421-cgR">
                <div class="group-419-aW5">
                  <p class="item--wLd">회원점수</p>
                  <div class="group-416-fnR">
                    <div class="group-411-nMF">
                      <div class="mat-avatar-0">
                      </div>
                      <p class="item-21315">브론즈</p>
                    </div>
                    <div class="group-411-nMF">
                      <div class="mat-avatar-1">
                      </div>
                      <p class="item-21315">실버</p>
                    </div>
                    <div class="group-411-nMF">
                      <div class="mat-avatar-2">
                      </div>
                      <p class="item-21315">골드</p>
                    </div>
                    <div class="group-411-nMF">
                      <div class="mat-avatar-3">
                      </div>
                      <p class="item-21315">플레티넘</p>
                    </div>
                    <div class="group-411-nMF">
                      <div class="mat-avatar-4">
                      </div>
                      <p class="item-21315">다이아</p>
                    </div>
                  </div>
                </div>

                <div class="group-419-aW5">
                  <p class="item--wLd">회원점수</p>
                  <div class="group-416-fnR">
                    <div class="group-411-nMF">
                      <div class="mat-avatar-X3w">
                      </div>
                      <p class="item-1000-2mP">1000점</p>
                    </div>
                    <div class="group-411-nMF">
                      <div class="mat-avatar-X3w">
                      </div>
                      <p class="item-1000-2mP">2000점</p>
                    </div>
                    <div class="group-411-nMF">
                      <div class="mat-avatar-X3w">
                      </div>
                      <p class="item-1000-2mP">3000점</p>
                    </div>
                    <div class="group-411-nMF">
                      <div class="mat-avatar-X3w">
                      </div>
                      <p class="item-1000-2mP">4000점</p>
                    </div>
                    <div class="group-411-nMF">
                      <div class="mat-avatar-X3w">
                      </div>
                      <p class="item-1000-2mP">5000점</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>