<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/Team_page.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700" />
</head>
<body>
    <!--Team_Leader-->
    <div class="Team">
        <p class="Team_text">Team page / Leader</p>
        <div class="Tema_box">
            <div class="Team_box_detail">
                <div class="btns">
                    <button class="btn_blue">팀 채팅방 이동</button>
                </div>
                <div class="btns">
                    <button class="btn_red">상세보기</button>
                </div>
                <div class="btns">
                    <button class="btn_basic">추가모집</button>
                </div>
                <div class="btns">
                    <button class="btn_basic">팀 종료</button>
                </div>
                <div class="btns">
                    <button class="btn_basic">팀 삭제</button>
                </div>
            </div>
            <div>
                <div class="texts">
                    <p class="text_title">teamName</p>
                    <p class="text_sub">일구하는주니어</p>
                </div>
                <div class="texts">
                    <p class="text_title">isOnline</p>
                    <p class="text_sub">온라인 / 오프라인</p>
                </div>
                <div class="texts">
                    <p class="text_title">memberNum</p>
                    <p class="text_sub">현재 인원수 O명</p>
                </div>
                <div class="texts">
                    <p class="text_title">finishedAt</p>
                    <p class="text_sub">프로젝트 종료 시간</p>
                </div>
                <div class="texts">
                    <p class="text_title">teamDescribe</p>
                    <p class="text_sub">팀 소개글</p>
                </div>
            </div>
        </div>
    </div>

    <!--Team_Member-->
    <div class="Team">
        <p class="Team_text">Team page / Member</p>
        <div class="Tema_box">
            <div class="Team_box_detail">
                <div class="btns">
                    <button class="btn_blue">팀 채팅방 이동</button>
                </div>
                <div class="btns">
                    <button class="btn_red">상세보기</button>
                </div>
                <div class="btns">
                    <button class="btn_basic">탈퇴하기</button>
                </div>
            </div>
            <div>
                <div class="texts">
                    <p class="text_title">teamName</p>
                    <p class="text_sub">일구하는주니어</p>
                </div>
                <div class="texts">
                    <p class="text_title">isOnline</p>
                    <p class="text_sub">온라인 / 오프라인</p>
                </div>
                <div class="texts">
                    <p class="text_title">memberNum</p>
                    <p class="text_sub">현재 인원수 O명</p>
                </div>
                <div class="texts">
                    <p class="text_title">finishedAt</p>
                    <p class="text_sub">프로젝트 종료 시간</p>
                </div>
                <div class="texts">
                    <p class="text_title">teamDescribe</p>
                    <p class="text_sub">팀 소개글</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>